name: Flyover SDK CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions: read-all

jobs:
  validation:
    name: Code integrity validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22.12.0'
      - name: NPM Login
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm config set //npm.pkg.github.com/:_authToken $GITHUB_TOKEN
      - name: Install dependencies
        run: npm ci && npm run build
      - name: Validate code format
        run: npm run lint:validation
      - name: Run unit tests
        run: npm run test
